body {
    font-family: 'Arial', sans-serif;
    background-image: url(../../images/contacto1.png);
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #3333336e; 
    color: #fff; 
    padding: 20px 0;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff; 
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a.active {
    background-color: #dc0b7e6d; 
}

nav a:hover {
    background-color: #dc0b7e57; 
}

.container {
    max-width: 30%;
    margin: 0 auto; 
    padding: 40px;
}

.contact {
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #dc0b7e37;
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
    }

    .container {
        padding: 20px;
    }

    form {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
}
